AlquilaCocheras/Service References/ServiceReference/Cocheras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerCocheras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCocherasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCocherasResult" type="tns:ArrayOfCocheraDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCocheraDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cocheraDTO" nillable="true" type="tns:cocheraDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cocheraDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCochera" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPropietario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Perfil" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ubicacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraInicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraFin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MetrosCuadrados" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoVehiculo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Puntuacion" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCocherasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCocheras" />
  </wsdl:message>
  <wsdl:message name="ObtenerCocherasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCocherasResponse" />
  </wsdl:message>
  <wsdl:portType name="CocherasSoap">
    <wsdl:operation name="ObtenerCocheras">
      <wsdl:input message="tns:ObtenerCocherasSoapIn" />
      <wsdl:output message="tns:ObtenerCocherasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CocherasSoap" type="tns:CocherasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCocheras">
      <soap:operation soapAction="http://tempuri.org/ObtenerCocheras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CocherasSoap12" type="tns:CocherasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCocheras">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCocheras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cocheras">
    <wsdl:port name="CocherasSoap" binding="tns:CocherasSoap">
      <soap:address location="http://localhost:56854/servicios/Cocheras.asmx" />
    </wsdl:port>
    <wsdl:port name="CocherasSoap12" binding="tns:CocherasSoap12">
      <soap12:address location="http://localhost:56854/servicios/Cocheras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>